In [77]:
import os
import pandas as pd

In [94]:
cwd = os.getcwd() # dirname()
BASE_DIR = os.path.dirname(cwd)
DATA_DIR = os.path.join(BASE_DIR, 'Data_Pipeline/data')
CACHE_DIR = os.path.join(BASE_DIR, 'Data_Pipeline/cache')
work_file = os.path.join(CACHE_DIR, 'ranking_movies_dataset.csv')
out_file = os.path.join(CACHE_DIR, 'ranking_movies_dataset_transform.csv')

In [79]:
df = pd.read_csv(work_file)

In [80]:
df.head(n=1000)

,Unnamed: 0,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,filename,year
0,0,1,Toy Story 3,"$1,066,969,703","$415,004,880",38.9%,"$651,964,823",61.1%,2010.csv,2010
1,1,2,Alice in Wonderland,"$1,025,467,110","$334,191,110",32.6%,"$691,276,000",67.4%,2010.csv,2010
2,2,3,Harry Potter and the Deathly Hallows: Part 1,"$976,536,918","$295,983,305",30.3%,"$680,553,613",69.7%,2010.csv,2010
3,3,4,Inception,"$826,137,188","$292,576,195",35.4%,"$533,560,993",64.6%,2010.csv,2010
4,4,5,Shrek Forever After,"$752,600,867","$238,736,787",31.7%,"$513,864,080",68.3%,2010.csv,2010
...,...,...,...,...,...,...,...,...,...,...
995,995,996,South Solitary,"$445,957",-,-,"$445,957",100%,2010.csv,2010
996,996,997,La Tarajo3 La Esteslam,"$443,078",-,-,"$443,078",100%,2010.csv,2010
997,997,998,Ayirathil Oruvan,"$443,008",-,-,"$443,008",100%,2010.csv,2010
998,998,999,Crossing Hennessy,"$440,650",-,-,"$440,650",100%,2010.csv,2010
999,999,"1,000",Paiyaa,"$440,586",-,-,"$440,586",100%,2010.csv,2010

In [81]:
df['Rank'] = -1

In [82]:
df.head()

,Unnamed: 0,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,filename,year
0,0,-1,Toy Story 3,"$1,066,969,703","$415,004,880",38.9%,"$651,964,823",61.1%,2010.csv,2010
1,1,-1,Alice in Wonderland,"$1,025,467,110","$334,191,110",32.6%,"$691,276,000",67.4%,2010.csv,2010
2,2,-1,Harry Potter and the Deathly Hallows: Part 1,"$976,536,918","$295,983,305",30.3%,"$680,553,613",69.7%,2010.csv,2010
3,3,-1,Inception,"$826,137,188","$292,576,195",35.4%,"$533,560,993",64.6%,2010.csv,2010
4,4,-1,Shrek Forever After,"$752,600,867","$238,736,787",31.7%,"$513,864,080",68.3%,2010.csv,2010

In [83]:
df['Domestic %'] = df['%']
df['Foreign %'] = df['%.1']
df.head()

,Unnamed: 0,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,filename,year,Domestic %,Foreign %
0,0,-1,Toy Story 3,"$1,066,969,703","$415,004,880",38.9%,"$651,964,823",61.1%,2010.csv,2010,38.9%,61.1%
1,1,-1,Alice in Wonderland,"$1,025,467,110","$334,191,110",32.6%,"$691,276,000",67.4%,2010.csv,2010,32.6%,67.4%
2,2,-1,Harry Potter and the Deathly Hallows: Part 1,"$976,536,918","$295,983,305",30.3%,"$680,553,613",69.7%,2010.csv,2010,30.3%,69.7%
3,3,-1,Inception,"$826,137,188","$292,576,195",35.4%,"$533,560,993",64.6%,2010.csv,2010,35.4%,64.6%
4,4,-1,Shrek Forever After,"$752,600,867","$238,736,787",31.7%,"$513,864,080",68.3%,2010.csv,2010,31.7%,68.3%

In [84]:
df.drop(columns=["Unnamed: 0",'%','%.1'],inplace=True)

In [85]:
prep_clean_cols = ['Worldwide','Domestic','Foreign']
def convert_str_to_int(currency_val):
    currency_val = currency_val.replace("$","").replace(",","")
    try:
        currency_val = int(currency_val)
    except:
        # turns "-" into int 0
        currency_val = 0
        
    return currency_val

def clean_col(row):
    """
    row = pandas series
    dataframe = collection of Pandas Series
    """
    #print(row)
    for col in prep_clean_cols:
        current_val = row[col]
        row[col] = convert_str_to_int(current_val)
    return row

df = df.apply(clean_col, axis=1)

In [86]:
df.dtypes

Rank              int64
Release Group    object
Worldwide         int64
Domestic          int64
Foreign           int64
filename         object
year              int64
Domestic %       object
Foreign %        object
dtype: object

In [87]:
df.sort_values(by=['Worldwide'], inplace=True, ascending=False)
df.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,year,Domestic %,Foreign %
24022,-1,Avengers: Endgame,2797501328,858373000,1939128328,2019.csv,2019,30.7%,69.3%
11801,-1,Star Wars: Episode VII - The Force Awakens,2068223624,936662225,1131561399,2015.csv,2015,45.3%,54.7%
20618,-1,Avengers: Infinity War,2048359754,678815482,1369544272,2018.csv,2018,33.1%,66.9%
11802,-1,Jurassic World,1670400637,652270625,1018130012,2015.csv,2015,39%,61%
24023,-1,The Lion King,1656943394,543638043,1113305351,2019.csv,2019,32.8%,67.2%

In [88]:
df.reset_index(inplace=True, drop=True)

In [89]:
df.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,year,Domestic %,Foreign %
0,-1,Avengers: Endgame,2797501328,858373000,1939128328,2019.csv,2019,30.7%,69.3%
1,-1,Star Wars: Episode VII - The Force Awakens,2068223624,936662225,1131561399,2015.csv,2015,45.3%,54.7%
2,-1,Avengers: Infinity War,2048359754,678815482,1369544272,2018.csv,2018,33.1%,66.9%
3,-1,Jurassic World,1670400637,652270625,1018130012,2015.csv,2015,39%,61%
4,-1,The Lion King,1656943394,543638043,1113305351,2019.csv,2019,32.8%,67.2%

In [90]:
df['Rank'] = df.index + 1
df.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,year,Domestic %,Foreign %
0,1,Avengers: Endgame,2797501328,858373000,1939128328,2019.csv,2019,30.7%,69.3%
1,2,Star Wars: Episode VII - The Force Awakens,2068223624,936662225,1131561399,2015.csv,2015,45.3%,54.7%
2,3,Avengers: Infinity War,2048359754,678815482,1369544272,2018.csv,2018,33.1%,66.9%
3,4,Jurassic World,1670400637,652270625,1018130012,2015.csv,2015,39%,61%
4,5,The Lion King,1656943394,543638043,1113305351,2019.csv,2019,32.8%,67.2%

In [91]:
df['Domestic %'] = df['Domestic'] / df['Worldwide']
df['Foreign %'] = df['Foreign'] / df['Worldwide']

In [92]:
df.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,year,Domestic %,Foreign %
0,1,Avengers: Endgame,2797501328,858373000,1939128328,2019.csv,2019,0.306836,0.693164
1,2,Star Wars: Episode VII - The Force Awakens,2068223624,936662225,1131561399,2015.csv,2015,0.452882,0.547118
2,3,Avengers: Infinity War,2048359754,678815482,1369544272,2018.csv,2018,0.331395,0.668605
3,4,Jurassic World,1670400637,652270625,1018130012,2015.csv,2015,0.390488,0.609512
4,5,The Lion King,1656943394,543638043,1113305351,2019.csv,2019,0.328097,0.671903

In [93]:
df.dtypes

Rank               int64
Release Group     object
Worldwide          int64
Domestic           int64
Foreign            int64
filename          object
year               int64
Domestic %       float64
Foreign %        float64
dtype: object

In [95]:
df.to_csv(out_file, index=False)